@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  /* font */
  --font-cormorant: "Cormorant Garamond", serif;
  --font-jost: "Jost", sans-serif;

  /* color */
  --color-neutral_black: #000000;
  --color-neutral_white: #ffffff;


  /* weights */
}
